*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    /* font-size: 62.5%;
    color: #484036; */
}
.bodyContainer{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100%;
     background-color: #ECECE4;
     font-size: 62.5%;
    color: #484036;
}
.container{
    height: 100%;
    background-color: #B6997A;
    font-family: montserrat;
    max-width: 1000px;
    height: auto;
    padding: 0%;
    border-radius: 30px;
    max-width: 80%;
}
.login-container,.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    height: 100%;
    padding: 3%;
}
.signup-container{
    display: none;
}


.hr{
    width:50%;
    text-align:left;
    margin-left:0;
    height: 0.07rem;
    background-color: #484036;
    border-radius: px 2px 2px 20px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem;
    gap:2rem;
    margin-bottom: 2%;
}
.loginHeader{
    font-weight: 700;
    width:230px;
    text-align: center;
}
input{
    height: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
    color: #484036;
    font-weight: 700;
    
    
}

.btnContent{
    font-size: 0.5rem;
    font-weight: 500;
}

.loginIcons{
    width: 30%;
    display: flex;
    justify-content: space-around;

}
.loginIcons svg{
    transition: 0.5s;
    cursor: pointer;
    background-color: none;
}
.loginIcons svg:hover
{
    transform: scale(110%);
    color: rgb(255, 255, 255);
}

.logiIimage{
    background-image: url("images/login_img.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 30px 30px 0;
}


.signupCot{
    font-size: medium;
    font-weight: 600;
}

.signup{
    padding: 5% 0 3% 0;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 2.2rem;
    row-gap: 1.3rem;
}
.signupHr{
    width:50%;
    text-align:left;
    margin-left:0;
    height: 0.07rem;
    background-color: #484036;
}
.signupButtons , .loginButtons{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: auto;
    height: 30px;
    background-color: #484036;
    color: #ECECE4;
    padding: 1%;
    width: 100%;
    border: 2px solid rgb(69, 48, 8);
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
.signupButtons:hover , 
.loginButtons:hover
{
    transform: scale(110%);
    color: rgb(255, 255, 255);
    box-shadow:3px 3px 3px 3px #484036;
    border-color: aliceblue;
}
.signupButtons p, .loginButtons p{
    margin: 0;
}
.signupdiv{
    color: azure;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width : 550px) {
    .signup{
        grid-template-columns: 1fr;
        width: 80%;
        column-gap: 0;
        row-gap: 1.3rem;
    }
    .signupdiv{
        grid-column: 1/2;
    }
    .login{
        width: 80%;
    }

}

@media screen and (max-width : 950px) {
        .signup{
            grid-template-columns: 1fr;
            width: 80%;
            column-gap: 0;
            row-gap: 1.3rem;
        }
        .signupdiv{
            grid-column: 1/2;
        }
        .login{
            width: 80%;
        }
        

}
@media screen and (max-width : 550px) {
    #mainRow {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        

    }
    .col-4{
        height: 20rem;
        width:93%;
        border-radius:20px 20px 0 0;
        background-size: cover;
        background-position: center;
        margin: 0;
    }
    #signingUp{
        padding: 0;
        width: 100%;
    }
    #forms{
        padding: 0;
        width: 100%;
    }
    .bodyContainer{
        height: 100%;
    }
}