* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.emptyNav {
  width: 33%;
}
.hideForm {
  width: 33%;
  border-radius: 10px;
}
.showForm {
  display: none;
  width: 33%;
  border-radius: 10px;
}
.years {
  width: 33%;
  border-radius: 10px;
}
.formDiv {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 50%;
  justify-items: center;
  border: 1px solid black;
  border-radius: 5px;S
}

.formBtn {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.formBtn .btn {
  width: 45%;
}

.card-header {
  font-size: x-large;
  font-weight: 900;
  text-align: center;
}
